apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      imagePullSecrets:
      - name: ecr-secret
      containers:
      - name: my-app
        image: 759210286431.dkr.ecr.ap-south-1.amazonaws.com/rushikesh0374/my-task-1-image:release_4
        ports:
        - containerPort: 8080
        env:
          - name: MY_VAR_1
            valueFrom:
              configMapKeyRef:
                name: my-config-map-data
                key: key1
          - name: MY_KEY_2
            valueFrom:
              configMapKeyRef:
                name: my-config-map-data
                key: key2
