apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      imagePullSecrets:
      - name: ecr-secret
      containers:
      - name: my-app
        image: 759210286431.dkr.ecr.ap-south-1.amazonaws.com/my-repo:latest
        ports:
        - containerPort: 8080
